/* ~/Content/Layout.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */
.header {
    background-color: #d70018;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    position: sticky;/* khi cuộn xuống không mất header*/
    top: 0;
    z-index: 100;
}

.headercenter {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* Search Form */
.searchform {
    position: relative;
    background: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    width: 300px;
}

    .searchform input {
        border: none;
        outline: none;
        width: 100%;
        padding-left: 10px;
    }

    .searchform button {
        background: none;
        border: none;
        cursor: pointer;
    }

/* Các nút bấm Header */
.giohang, .dangnhap, .danhmuc, .tinhthanh {
    background: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    cursor: pointer;
}

select.danhmuc, select.tinhthanh {
    background: transparent;
    color: white;
    border: none;
    outline: none;
}

option {
    color: black;
}

/* FOOTER */
.footer {
    background: white;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #ddd;
}

.footercenter {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

    .footercenter div {
        flex: 1;
        padding: 0 10px;
        font-size: 12px;
        color: #444;
    }

    .footercenter p strong {
        color: #333;
        font-size: 14px;
    }

    .footercenter a {
        text-decoration: none;
        color: #444;
        line-height: 1.8;
    }
