
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}


.header {
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center; /* căn giữa theo chiều dọc */
    padding: 15px 15px; /* tăng padding trên dưới */
    margin: 0;
    min-height: 50px; /* đảm bảo header luôn cao tối thiểu */
    gap: 40px;
    position: sticky;
    width:100%;
}
.headercenter {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 15px; /* Khoảng cách giữa các thành phần */
}

    .header h2 {
        margin: 0;
        padding: 0;
    }



.searchform {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
}

    .searchform input {
        border: none;
        outline: none;
        padding: 5px;
    }

    .searchform button {
        border: none;
        background: none;
        cursor: pointer;
    }


.danhmuc, .tinhthanh {
    outline: none;
    border: none;
    border-radius: 60px;
    background-color: indianred;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
}


.giohang, .dangnhap {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.dangnhap {
    border-radius: 20px;
    background-color: indianred;
    padding: 8px 15px;
}

/* Footer */

.footercenter {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 25px 0;
    padding:10px;
    max-width:auto;
}



    .user-info-header a {
        color: white;
        text-decoration: none;
    }

        .user-info-header a:hover {
            text-decoration: underline;
        }
